@import "../../../assets/scss/abstracts.scss";

.mainWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 192rem;
    height: 77.5rem;
    background-color: #F4F4F4;
}

.mainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 130rem;
}

.sliderWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 130rem; 
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 62px;
    font-size: 50px;
    font-style: normal;
    line-height: 55px;
    letter-spacing: 0.02em;
    color: $color-black;
    margin: 75px 0 10px 0;
}

.headerText {
    font-family: Gilroy;
    font-weight: normal;    
}
  
.headerTextStrong {
    font-family: Gilroy Bold;
    font-weight: 900;
    margin-left: 0px;
}

.navigationLink {
    align-items: center;
    height: 20px;
    width: 160px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 0.02em;
    color: $color-black;
    text-decoration: none;
    cursor: pointer;

    &__top {
        display: flex;
    }

    &__bottom {
        display: none;
    }

    &:hover {
        color: $color-orange; 
    }

    &:hover &__arrow{
        background: url(../../../assets/icons/link-arrow-orange.png) no-repeat; 
    }

    &__arrow{
        display: flex;
        height: 10px;
        width: 30px;
        background: url(../../../assets/icons/link-arrow-black.png) no-repeat;
        margin-right: 21px;
    }
}

.text {
    display: flex;
    justify-content: start;
    margin-bottom: 43px;
    width: 100%;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #000000;
}

.sliderContainer {
    background-color: #f4f4f4;
    width: 100%;
    max-width: 130rem;
    height: 452px;
}

.cardContainer {
    width: 420px;
    height: 392px;
}

.image {
    width: 386px;
    height: 225px;
}

.slickDots {
	display: flex !important;
    justify-content: center;
	margin: 0;
	padding: 1rem 0;	
	list-style-type: none;
	
		button {
            border: none;
			display: flex;
			width: 24px;
			height: 24px;
			padding: 0;	
			background: url(../../../assets/images/carousel-dot.png) center no-repeat;
			text-indent: -9999px;
		}
	
		:global(li.slick-active) button {
            background: url(../../../assets/images/carousel-dot.png) center no-repeat, url(../../../assets/images/carousel-dot-active.png) center no-repeat;
		}
	
}

.arrow {
    position: absolute;
    top: 180px;
    @include pagination-button
  
}


@media (min-width: 768px) and (max-width: 1500px) {
    .mainWrapper {
        height: 61.5rem;
        // background: url(../../../assets/images/grey-dots-320.png) top 117px left 10px no-repeat,
        //             url(../../../assets/images/grey-dots-320.png) top 317px right 0px no-repeat,
        //             url(../../../assets/images/grey-dots-320.png) bottom 580px left 10px no-repeat $color-white;  
        }

        .mainContainer {
            max-width: 72.8rem;
        }

        .sliderWrapper {
            margin-bottom: 120px; 
        }

        .sliderContainer {
            width: 72.8rem;
            height: 320px;
            overflow: hidden;
            z-index: 4;
        }

        .slickDots {
            display: none;
        }

        .arrow {
            z-index: 5;
            top: 350px;    
            
            &__prev {
                left: calc(50% - 42px);        
            }

            &__next {
            right: calc(50% - 42px);
            }
        }
    
}

@media (max-width: 767px) {

    .mainWrapper {
        height: 57rem;
        // background: url(../../../assets/images/grey-dots-320.png) top 117px left 10px no-repeat,
        //             url(../../../assets/images/grey-dots-320.png) top 317px right 0px no-repeat,
        //             url(../../../assets/images/grey-dots-320.png) bottom 580px left 10px no-repeat $color-white;  
        }

    .mainContainer {
        max-width: 28rem;
    }

    .headerContainer {
        justify-content: flex-start;
        height: 67px;
        font-size: 30px;
        line-height: 33px;
        height: 33px;
        max-width: 28rem;
        margin: 60px 0 10px 20px;
        letter-spacing: 0;
    }

    .navigationLink {
    
        &__top {
            display: none;
        }

        &__bottom {
            margin: 0 0 33px 0;
            display: flex;
        }
    }

    .text {
        margin-left: 20px;
        margin-bottom: 79px;
        max-width: 28rem;
        font-size: 16px;
        line-height: 19px;
    }

    .sliderWrapper {
        margin-bottom: 30px; 
        overflow: hidden;
    }
      
    .sliderContainer {
        width: 23.4rem;
        height: 276px;
    }

    .slickDots {
        display: none;
    }

    .arrow {
        display: none;      
    }

}
